@tailwind base;
@tailwind components;
@tailwind utilities;
.force-black-text * {
    color: black !important;
  }
  
  .message-content {
    color: black !important;
  }
  
  .message-content * {
    color: black !important;
  }